body {
    margin: 0;
}

.logo {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.header {
    background-image: linear-gradient(to left, #E1DAD2, #E9DCC4);
    display: flex;
    height: 200px;
    flex-direction: row;
    padding: 30px;
    padding-left: 80px;
    gap: 70px;
}

.header h1 {
    font-size: 70px;
    color: #7A6951;
    padding: 5px 5px;
    border-bottom: 2px solid white;
    margin: 20px;
    text-align: center;
}

.header h2 {
    padding: 10px 20px;
    text-align: center;
    color: #CC564D;
}

p {
    margin: 0;
}
