.home .map-feature {
    background-image: linear-gradient(to top, #F8F5F1, #126091);
    border-top: #126091 3px solid;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.home .map-feature h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.home .map-feature p {
    color: white;
    font-size: var(--xlFont);
    padding: 10px;
    font-weight: bold;
}

a {
    text-decoration: none;
    margin: 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
    border: none;
    background-color: var(--red);
    width: 500px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

a:hover {
    background-color: var(--accentDark);
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 8px 25px rgba(0, 0, 0, 0.25);
}

a:active {
  transform: translateY(1px);
}

.home .learn-about-fast-fashion,
.home .submit-your-location {
    background-color: #F8F5F1;
}

.home .learn-about-fast-fashion h1,
.home .submit-your-location h1 {
    color: #7A6951;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    padding: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.home .fast-fashion-text-box {
    margin: 50px 30px 50px 100px;
    max-width: 900px;
    padding: 50px;
    background-color: var(--surface);
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    color: var(--brown);
}

.home .fast-fashion-text-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 8px 25px rgba(0, 0, 0, 0.25);
}

.home .fast-fashion-text-box p {
    font-size: 20px;
}

.home .fast-fashion-text-box li {
    line-height: 60px;
    font-size: 30px;
    font-weight: bold;
}

.home .fast-fashion-text-box ul {
    margin: 30px;
}

.home .submit-your-location h1 {
    text-align: right;
}